@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased scroll-smooth;
}

body,
html {
  @apply max-w-[100vw] w-full overflow-x-hidden bg-[#0c1015];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f2f2f250;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.drone {
  animation: droneAnimation 5s infinite ease-in-out;
}

@keyframes droneAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.span {
  background-color: #0c1015;
  cursor: pointer;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #ffffff2e;
}

.span-variant {
  background-color: #0c1015a6;
  background-image: linear-gradient(
    180deg,
    rgba(12, 16, 21, 0.6) 0%,
    rgba(12, 16, 21, 0.461) 59.76%,
    rgba(12, 16, 21, 0) 100%
  );
  cursor: pointer;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #ffffff2e;
}

.line {
  width: 0;
  height: 2px;
  background-color: #f6f8fa;
  border-radius: 50px;
  transition: all 0.1s ease-in-out; 
}

.line-black {
  width: 0;
  height: 2px;
  background-color: #0d1117;
  border-radius: 50px;
  transition: all 0.1s ease-in-out; 
}

.span-button:hover .line-black {
  width: 14px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.span-button:hover .chevron-black {
  left: 4px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.copilot-span:hover .line {
  width: 14px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.copilot-span:hover .chevron {
  left: 4px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.trial-span:hover .line {
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 14px;
}
.trial-span:hover .chevron {
  left: 4px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.codespace-span:hover .line {
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 14px;
}
.codespace-span:hover .chevron {
  left: 4px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 4px;
  }
}

.chevron-black {
  width: 16px;
  height: 16px;
  position: relative;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out; 
}


.chevron-black::before,
.chevron-black::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #0d1117;
  border-radius: 50px;
}

.chevron-black::before {
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  border-radius: 50px;
}

.chevron-black::after {
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}

.chevron {
  width: 16px;
  height: 16px;
  position: relative;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out; 
}

.chevron::before,
.chevron::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #f6f8fa;
  border-radius: 50px;
}

.chevron::before {
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  border-radius: 50px;
}

.chevron::after {
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}

.custom-button {
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(119, 63, 198, 0.37);
}

.custom-button:hover {
  box-shadow: 0 0 10px 2px rgb(119, 63, 198, 0.37);
}

.blur-effect {
  filter: blur(15px);
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.overlay-glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f6f8fa;
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::before {
  width: 100%;
}
